
<nav class="navbar navbar-expand-lg navbar-light mb-5 bg-info w-100">
    <div class="container-fluid ">
        <a class="navbar-brand fw-bold px-3" href="/">Todo <sub style="font-size: 1rem;" class="fw-light">- Just write what you think ...</sub></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <a class="nav-link fs-5 fw-bold" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 fw-bold" href="/about">About</a>
                </li>
                
                
            </ul>
          
        </div>
    </div>
</nav>