*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    color: #333;
}

/* new-head */

.new-head{
    font-size: 2rem;
}

/* new-meg */

.new-meg{
    font-size :1.25rem
}

/* date-format */
.date-format{
    color: rgb(67 68 65 / 88%);
    /* font-weight: bold; */
    font-size: 0.75rem;
}